.range__btn {
  z-index: 100;
}

.range__btn--right {
  right: auto;
  left: 81%;
}

.card-order__count {
  -moz-appearance:textfield;
}

.card-order__count::-webkit-outer-spin-button,
.card-order__count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
